/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Primary: #60d394;
  --Secondary: #227c9d;
  --Light: #ffffff;
  --dark: #fafafa;
  --danger: #ba1e12;
  --info: #eef5f8;
  --warnning: #ffcb77;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
  font-family: 'CustomFont';
  src: url('./font/custom.eot');
  src: url('./font/custom.woff') format('woff'),
    url('./font/custom.svg') format('svg');
}

img {
  background: none;
}
.underline-start.rtl {
  display: inline-block;
  position: relative;
}

.underline-start.rtl::after {
  content: '';
  height: 2px;
  width: 65%;
  background: currentColor;
  position: absolute;
  right: 0;
  bottom: -8px;
}

.underline-start.ltr {
  display: inline-block;
  position: relative;
}

.underline-start.ltr::after {
  content: '';
  height: 2px;
  width: 65%;
  background: currentColor;
  position: absolute;
  left: 0;

  bottom: -5px;
}

.underline-center {
  display: inline-block;
  position: relative;
}

.underline-center::after {
  content: '';
  height: 2px;
  width: 40%;
  background: currentColor;
  position: absolute;
  left: calc(50% - 20%);
  bottom: -5px;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-transform: capitalize;
}

.subTitle {
  font-size: 1.5rem;
  line-height: 2rem;
}

.smallSubTitle {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-start {
  text-align: start !important;
}

.transform-translate-50 {
  transform: translateX(-50%);
}
.p-inline-start-1 {
  padding-inline-start: 10px;
}
.m-inline-end-5percent {
  margin-inline-end: 6%;
}

.ltr {
  direction: ltr !important;
}

/* .bg-header {
  background-image: url('./Assets//Images/logo.svg');
  background-repeat: repeat;
  background-size: contain;
} */

@media only screen and (max-width: 640px) {
  .bg-header {
    background-image: url('./Assets/Images/headerVector2-01.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
}
